/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

html {
  color-scheme: light dark;
  max-width: 30em;
  margin: auto;
}

html:has([value="light"]:checked) {
  color-scheme: light;
  --background: #ffe8a3;
  --textcolor: #0860bf;
}

html:has([value="dark"]:checked) {
  color-scheme: dark;
  --background: #623dff;
  --textcolor: #f4dd0b;
}

body {
  font-family: "Comic Relief", system-ui;
  background-image: var(--background);
  color: var(--textcolor);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
