/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lcd";
  src: url(../type/LED\ Dot-Matrix\ 400.ttf);
}

html {
  --whitespace-s: 1em;
  --whitespace-m: calc(var(--whitespace-s) * 2);
  --whitespace-l: calc(var(--whitespace-s) * 4);
  --whitespace-xs: calc(var(--whitespace-s) * 0.5);

  --step--2: clamp(0.7815rem, 0.9106rem + -0.1435vw, 0.8784rem);
  --step--1: clamp(0.9372rem, 0.8813rem + 0.2486vw, 1.105rem);
  --step-0: clamp(1rem, 0.8125rem + 0.8333vw, 1.5625rem);
  --step-1: clamp(1.067rem, 0.6862rem + 1.6924vw, 2.2094rem);
  --step-2: clamp(1.1385rem, 0.4766rem + 2.9416vw, 3.1241rem);
  --step-3: clamp(1.2148rem, 0.1472rem + 4.7447vw, 4.4174rem);
  --step-4: clamp(1.2962rem, -0.3539rem + 7.3334vw, 6.2462rem);
  --step-5: clamp(1.383rem, -1.1001rem + 11.0358vw, 8.8322rem);

  color-scheme: light dark;
}

html:has([value="light"]:checked) {
  color-scheme: light;
  --background: linear-gradient(rgba(255, 246, 207, 1), rgba(255, 226, 99, 1));
  --textcolor: #0860bf;
  --bordercolor: 3px solid #595959;
  --colorlink: #f7b059;
  --colorvisited: purple;
  --coloroutline: 0.2em dotted red;
}

html:has([value="dark"]:checked) {
  color-scheme: dark;
  --background: linear-gradient(rgba(91, 0, 181, 1), rgba(170, 0, 255, 1));
  --textcolor: #f4dd0b;
  --bordercolor: 3px solid #e8e8e8;
  --colorlink: #fd3a3a;
  --colorvisited: #d4f146;
  --coloroutline: 0.2em dotted #60f146;
}

a:link {
  color: var(--textcolor);
}

a:hover {
  color: var(--colorlink);
  font-size: 1.1em;
}

a:focus {
  color: var(--colorlink);
  outline: var(--coloroutline);
  font-size: 1.1em;
}

a:visited {
  color: var(--colorvisited);
}

body {
  font-family: "Lcd", system-ui;
  background-image: var(--background);
  color: var(--textcolor);
  margin-top: var(--whitespace-xs);
  margin-bottom: var(--whitespace-m);
  line-height: 1.2em;
  padding: 3em;
}

main p::first-letter {
  font-size: 1.5em;
}

form {
  margin-top: var(--whitespace-s);
  margin-bottom: var(--whitespace-m);
  font-size: var(--step--1);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: var(--whitespace-s);
  margin-top: var(--whitespace-s);
  grid-column-start: 2;
  border-radius: 10px;
}

h1 {
  font-size: var(--step-3);
  margin-top: var(--whitespace-xs);
  margin-bottom: var(--whitespace-xs);
}

h2 {
  font-size: var(--step-1);
  margin-top: var(--whitespace-xs);
  margin-bottom: var(--whitespace-xs);
  grid-column-start: 1;
  line-height: 1.2em;
}

h3 {
  margin-top: var(--whitespace-xs);
  margin-bottom: var(--whitespace-xs);
  font-size: var(--step-0);
  grid-column-start: 1;
}

article {
  border: var(--bordercolor);
  border-radius: 10px;
  padding: 15px;
  margin-top: var(--whitespace-xs);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

p {
  font-size: var(--step--1);
  grid-column-start: span 2;
  margin-top: var(--whitespace-xs);
}
